<a href="https://colab.research.google.com/github/Favourj-bit/gsoc_2023_pytorch_pathway_commons/blob/main/Parsing_cBio_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("/content/data_mutations.txt", sep="\t")

In [3]:
df.head()

,Hugo_Symbol,Entrez_Gene_Id,Center,NCBI_Build,Chromosome,Start_Position,End_Position,Strand,Consequence,Variant_Classification,...,SYMBOL_SOURCE,TREMBL,TSL,UNIPARC,VARIANT_CLASS,all_effects,cDNA_position,n_depth,t_depth,Annotation_Status
0,OPN4,94233.0,.,GRCh37,10,88419681,88419681,+,missense_variant,Missense_Mutation,...,HGNC,.,.,UPI00001544ED,SNV,"OPN4,missense_variant,p.Gly277Asp,ENST00000241...",1090,140,143,SUCCESS
1,GOLGA3,2802.0,.,GRCh37,12,133360652,133360652,+,intron_variant,Intron,...,HGNC,.,.,UPI0000190979,SNV,"GOLGA3,missense_variant,p.Arg1122His,ENST00000...",.,16,11,SUCCESS
2,KLRB1,3820.0,.,GRCh37,12,9760409,9760409,+,missense_variant,Missense_Mutation,...,HGNC,.,.,UPI000006E273,SNV,"KLRB1,missense_variant,p.Glu9Asp,ENST000002294...",74,187,279,SUCCESS
3,SALL2,6297.0,.,GRCh37,14,21991730,21991730,+,missense_variant,Missense_Mutation,...,HGNC,F5H1G6_HUMAN,.,UPI00001AF54D,SNV,"SALL2,missense_variant,p.Arg574Gln,ENST0000045...",2427,79,101,SUCCESS
4,PLCB2,5330.0,.,GRCh37,15,40587141,40587141,+,synonymous_variant,Silent,...,HGNC,H0YNI4_HUMAN,.,UPI0000D79B75,SNV,"PLCB2,synonymous_variant,p.%3D,ENST00000260402...",2152,85,78,SUCCESS

In [4]:
df2 = pd.read_csv("data_mrna_seq_v2_rsem.txt", sep="\t")

In [5]:
df2.head()

,Hugo_Symbol,Entrez_Gene_Id,TCGA-OR-A5J1-01,TCGA-OR-A5J2-01,TCGA-OR-A5J3-01,TCGA-OR-A5J5-01,TCGA-OR-A5J6-01,TCGA-OR-A5J7-01,TCGA-OR-A5J8-01,TCGA-OR-A5J9-01,...,TCGA-OR-A5LR-01,TCGA-OR-A5LS-01,TCGA-OR-A5LT-01,TCGA-OU-A5PI-01,TCGA-P6-A5OF-01,TCGA-PA-A5YG-01,TCGA-PK-A5H8-01,TCGA-PK-A5H9-01,TCGA-PK-A5HA-01,TCGA-PK-A5HB-01
0,NUDT18,79873,85.0144,165.884,309.2880,178.931,124.0660,283.5940,283.4650,123.7530,...,154.8120,176.1820,177.7210,157.925,524.4430,316.228,317.3020,232.0510,303.749,159.9840
1,SHC3,53358,97.5024,92.605,10.0726,49.574,5.5886,50.9426,36.0547,73.0957,...,46.0251,33.2035,75.6803,22.805,24.2472,113.731,46.8457,0.6979,192.944,50.5213
2,NCRNA00112,54089,0.0000,0.000,0.0000,0.000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.0000,0.0000,0.000,0.0000
3,FAM49B,51571,671.9500,812.911,482.2990,466.305,1074.6800,594.4650,938.6660,592.9260,...,884.5190,272.4040,326.5310,263.398,931.5600,748.960,1241.1000,784.4370,897.464,718.9250
4,FMO6P,388714,0.0000,0.000,0.0000,0.000,0.0000,0.0000,0.4144,0.0000,...,0.0000,0.0000,0.0000,0.000,0.0000,0.000,0.0000,0.0000,0.000,0.4010